<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="MailruAutomation">

	<test name="Login to Mail.ru">

		 <classes>
			<class name="by.htp.drozdovskaya.automation.MailruAutomationTest">
			</class>
			
		</classes>
		
	</test>
	
</suite>